<!doctype html>
<html>
   <body>
    
      <form action = "{{ url_for('update') }}" method = "POST">
      <table border = 1>
         <thead>
            <td>Registration number</td>
            <td>Name</td>
            <td>Email</td>
            <td>Hometown</td>
            <td>Date of Birth</td>
            <td>Score</td>
         </thead>
         
         {% for row in rows %}
            <tr>
            
               <td>{{row["id"]}}</td>
               <td>{{row["Name"]}}</td>
               <td>{{row["Email"]}}</td>
               <td>{{row['Hometown']}}</td>
               <td>{{row['dob']}}</td>
               <td>{{row['Score']}}</td>    
            </tr>
         {% endfor %}
         <thead>
            <td><input type = "text" name = "id" ></td>
            <td><input type = "text" name = "name" ></td>
            <td><input type = "text" name = "email" ></td>
            <td><input type = "text" name = "hometown" ></td>
            <td><input type = "text" name = "dob" ></td>
            <td><input type = "text" name = "score" ></td>
      </table>
      
      <!-- <form action = "{{ url_for('update') }}" method = "POST"> -->
      <input type = "submit" value = "submit" /><br>
      </form>
      
      <a href = "/">Back</a>
      
   </body>
</html>